#leftpanel{
    display: inline-block;
    align-self: left;
}
#slider{
    display: inline-block;
    align-self: right;
}
#firstserv{
    text-align: center;
    display: inline-block;
    width:32%;
    height:100%;
    border: 10px solid 	#FF3233;
}
#secondserv{
    text-align: center;
    align-self: center;
    display: inline-block;
    width:32%;
    height:100%;
    border: 10px solid black;
    
}
#thirdserv{
    text-align: center;
    display: inline-block;
    width:30.5%;
    height:100%;
    border: 10px solid 	#FF3233;
}

.service {
    width: 100%;
    display: inline-block;
    text-align-last: center;
}